<!DOCTYPE html>
<html lang="es">



<body>

  <header>
    <h1>Cuida Tu Campo <img id="Campo" src="assets/Videos/campo.png" alt=""></h1>
  </header>

  <main>
    <section class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_1" frameborder="0"
        allowfullscreen></iframe>
        <p>Conoce como cuidar tus cultivos</p>
    </section>

    <section class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0"
        allowfullscreen></iframe>
        <p>Aprende el uso del Riego-Ump</p>
    </section>

    <section class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0"
        allowfullscreen></iframe>
        <p>Cuida tu entorno natural</p>
    </section>
  </main>
</body>
<img id="Fondo"  src="assets/Videos/Fondo.jpg" alt="Fondo">
</html>



