body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color:#39db3493;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.video-container {
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: azure;
  background-color: #39db3493;
  border-radius: 12px;
}

iframe {
  width: 100%;
  height: 100%;
}

#Campo{
  width: 50px; /* Puedes ajustar el valor en píxeles según tus necesidades */
  height: auto;
}
#Campo:hover {
  transform: scale(1.2); /* Aumenta el tamaño al 120% en hover */
}
#Fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el fondo detrás de los demás elementos */
}
