<img id="Fondo"  src="assets/Fondo1.jpg" alt="Fondo1">
<img id="masCampoLogo"  src="assets/mas_campo_logo.png" alt="Logo de Más Campo">
    <h1>Más Campo
      <p id="sucom"><i>Su compañia confiable en agricultura</i></p>
    </h1>





  <section id="acerca-de">
    <h2>Acerca de Nosotros</h2>
    <p>Somos un  una empresa apasionada por la agricultura y comprometida con brindar soluciones integrales a los agricultores. Nos especializamos en ofrecer productos de la más alta calidad a precios altamente competitivos en el mercado actual.</p>
  </section>

  <section id="productos">
    <h2>Nuestra Gama de Productos</h2>
    <p>En Más Campo, no solo vendemos productos agrícolas de primera calidad, sino que también nos dedicamos a asesorar a los agricultores para garantizar el éxito de sus cultivos. Ofrecemos una amplia variedad de productos, desde herramientas y insecticidas hasta frutas y verduras de la mejor calidad.</p>
  </section>

  <section id="asesorias">
    <h2>Asesorías Personalizadas</h2>
    <p>Entendemos que cada agricultor tiene necesidades únicas. Por eso, Más Campo va más allá de simplemente vender productos. Ofrecemos asesorías personalizadas mediante documentos informativos y videos educativos. Queremos ser su fuente confiable de conocimientos para ayudarlo a optimizar sus cultivos y maximizar sus cosechas.</p>
  </section>

  <section id="calidad-precio">
    <h2>Calidad y Precios Competitivos</h2>
    <p>La calidad de nuestros productos es nuestra máxima prioridad. Trabajamos arduamente para garantizar que cada artículo que ofrecemos cumpla con los estándares más exigentes. A pesar de nuestra dedicación a la calidad, mantenemos precios altamente competitivos para asegurarnos de que nuestros agricultores obtengan el mejor valor por su inversión.</p>
  </section>

  <footer>
    <p>Gracias por elegir Más Campo. Estamos aquí para apoyarte en cada paso de tu viaje agrícola.</p>
  </footer>



