body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd; /* Color de fondo suave */
  color: #333333b6; /* Color de texto principal */
}

header {
  background-color: #3498db; /* Azul */
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-top: 8px;
  margin-left: 38%;
  color: #3498db;
  background-color: rgba(239, 238, 243, 0.692);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(92, 212, 132); /* Sombra suave */
  max-width: 300px;
}

#sucom {
  color: #101111ea;
  font-size: 14px;
  padding: 10px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: rgba(239, 238, 243, 0.719);
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #3498db;
}

p {
  line-height: 1.6;
}

footer {
  background-color: #2c3e50a2;
  color: #f5f5f5;
  text-align: center;
  padding: 10px;
}

/* Enlace de estilo */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #2076b5;
}

img#masCampoLogo {
  margin-top: 8px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

#Fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Media queries para hacer la página más responsive */
@media only screen and (max-width: 768px) {
  h1 {
    margin-left: 0; /* Ajusta el margen izquierdo en pantallas más pequeñas */
  }

  img#masCampoLogo {
    margin-left: 0; /* Ajusta el margen izquierdo en pantallas más pequeñas */
  }
}
