<body>
  <img class="Fondo" id="Fondo" src="assets/Docs/Fondo.jpg" alt="">
<h3 >Así puedes identificar a échame una mano:

</h3 >
<img src="assets/mano.png">
  <h2>¿Qué es échame una mano?

  </h2>
  <p>Es el mejor y más completo programa de desarrollo Agropecuario, que permitirá que el Banco de Antigua, afiance su misión de desarrollo del campo Guatemalteco, en él se facilitarán las herramientas que permitan que los productores en el campo transformen sus parcelas en agronegocios, posicionando la agricultura y ganadería guatemalteca como líder en el mercado regional en los próximos años.</p>

  <h2>Objetivo General:</h2>
  <p>“Facilitar un programa de desarrollo agropecuario integral, que permita transformar la tierra cultivada, en agro-empresas altamente competitivas, innovadoras, sostenibles y rentables, siendo responsables con el medio ambiente, incluyendo para esto, un paquete financiero, tecnológico y de conocimiento, junto a un acompañamiento de campo permanente que permita el monitoreo de las variables claves y su evolución en el tiempo.”</p>

  <h2>Objetivos Específicos:</h2>
  <ol>
    <li>Aportar herramientas a los agricultores y ganaderos con que mejoren sus índices productivos, reproductivos y de rentabilidad.</li>
    <li>Proveer un acompañamiento permanente de campo, en todas las zonas productivas del país.</li>
    <li>Dar acceso a paquetes financieros con mejores costes y tasas de interés, que incluyan créditos, tarjeta de abasto y seguros agropecuarios.</li>
    <li>Facilitar los productos nutricionales, veterinarios, de infraestructura y tecnología, que aumenten la competitividad de las fincas y sembradíos.</li>
    <li>Monitorear la evolución en el tiempo de las variables claves de gestión -KPIs- retroalimentando al productor del impacto directo de sus decisiones en el día a día.</li>
  </ol>

  <p>Échame una mano es el mejor programa de desarrollo agropecuario en Guatemala y es promovido por Banco de Antigua. Incluye un paquete financiero, un paquete tecnológico y un paquete de conocimiento.</p>

  <h2>¿Qué incluye el programa échame una mano de Banco de Antigua?</h2>
  <p>A continuación, el detalle de lo que se incluye en cada paquete:</p>

  <h3>PAQUETE FINANCIERO:</h3>
  <p>Solución de financiamiento que incluye Créditos productivos, tarjeta de abasto y crédito y seguro agropecuario. Además de un análisis de costos productivos y proyecciones financieras/biométricas actualizadas permanentemente.</p>

  <h3>PAQUETE TECNOLÓGICO:</h3>
  <p>Es el conjunto de recursos diseñados por Más Campo, que lleva al agricultor los Productos y Servicios que le ayudan a transformar su parcela en un agronegocio con mayor rentabilidad y productividad, elemento clave en el programa de Banco de Antigua.</p>

  <h3>PAQUETE DE CONOCIMIENTO:</h3>
  <p>Es la herramienta diseñada por Más Campo para échame una mano de Banco de Antigua que incluye una plataforma que busca que el agricultor adquiera los conocimientos y realice sus consultas, con lo último del saber productivo y mejores prácticas agrícolas, apoyado con asistencia técnica en sus parcelas con visitas periódicas y asistencia virtual (IA).</p>

  <h2>Así puedes identificar a Más Campo:
  </h2>
  <img src="assets/mas.png" alt="">

  <footer>
    <p class="text">Gracias por elegir Más Campo. Estamos aquí para apoyarte en cada paso de tu viaje agrícola.</p>
  </footer>



