body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd; /* Color de fondo suave */
  color: #333333b6; /* Color de texto principal */
}

header {
  background-color: #3498db; /* Azul */
  color: #fff;
  text-align: center;
  padding: 20px;
}

h3 {
  padding: 10px;
  margin-top: 14px;
  margin-left: 20%;
  color: #3498db;
  background-color: rgba(239, 238, 243, 0.459);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(26, 27, 27, 0.568); /* Sombra suave */
  max-width: 800px;
}

#sucom {
  color: #101111ea;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  padding: 10px;
}

section {

  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: rgba(239, 238, 243, 0.719);
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  padding: 10px;
  margin-top: 8px;
  margin-left: 20%;
  color: #3498db;
  background-color: rgba(239, 238, 243, 0.445);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(47, 49, 48, 0.658); /* Sombra suave */
  max-width: 800px;
}

p {
  margin: 3%;
  margin-top: 14px;
  margin-left: 20%;
  color: #212425;
  background-color: rgba(231, 230, 233, 0.644);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(142, 145, 143, 0.822); /* Sombra suave */
  max-width: 800px;
  line-height: 1.6;
}

footer {
  padding: 10px;
  margin: 30px;
  background-color: #2c3e50a2;
  color: #f5f5f5a8;
  text-align: center;
  padding: 10px;
}

/* Enlace de estilo */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #2076b5;
}



#Fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Media queries para hacer la página más responsive */
@media only screen and (max-width: 768px) {
  h1 {
    margin-left: 0; /* Ajusta el margen izquierdo en pantallas más pequeñas */
  }


}

img {
  width: 15%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}
ol{

  margin-top: 14px;
  margin-left: 20%;
  color: #2f3438;
  background-color: rgba(239, 238, 243, 0.692);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(116, 122, 118); /* Sombra suave */
  max-width: 800px;
}
.fin{
  width: 100%;
  height: auto;
 color: #2f3438;
  background-color: rgba(89, 88, 94, 0.692);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(91, 97, 93); /* Sombra suave */
  padding: 10px;
}
.text{
  margin-top: 30px;
  color: #fff;
  background-color: rgba(163, 162, 168, 0.171);

}
