body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #a3cbe6; /* Azul */
  padding: 10px;
  text-align: center;
  color: #fff;
}
/*manejo de colores de la barra del home*/
nav {
  background-color: #98c2ec; /* Gris-azulado oscuro */

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: #ecf0f1; /* Blanco */
  padding: 10px;
  display: block;
}

a:hover {
  background-color: #8aa9c7; /* Gris-azulado más oscuro en hover */
}

.dropdown {
  position: relative;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #acc9e4; /* color menu desplegable */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px; /* Ancho del menú desplegable */
}

.dropdown:hover ul {
  display: flex;
  flex-direction: column;
}

.dropdown a {
  color: #ecf0f1;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #62be4fbe; /* Gris-azulado más oscuro en hover en el menú desplegable */
}
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 1px; /* Agrega un espacio entre los enlaces */
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}

header {
  background-color: #3498db94;
  color: #fff;
  padding: 5px;
  display: flex; /* Establece el contenedor como un contenedor flexible */
  align-items: center; /* Centra los elementos verticalmente */
}

#mas {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
#mas:hover {
  transform: scale(1.2); /* Aumenta el tamaño al 120% en hover */
}
form {
  margin-left: 60%;
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #cccccc9c;
  border-radius: 8px;
  width: 200px;
  margin-right: 10px; /* Agrega un espacio a la derecha del campo de búsqueda */
}
input:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 120% en hover */
}

img.carrito {
  margin-left: -30%;
  width: 70px;
  cursor: pointer;

}

img.carrito:hover {
  transform: scale(1.2); /* Aumenta el tamaño al 120% en hover */
}

header img {
  width: 40px;
  height: 40px;
}

img.lupa:hover {
  transform: scale(1.2); /* Aumenta el tamaño al 120% en hover */
}

img.lupa {
margin-right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Efecto de transición en la propiedad transform */
}

button {
  margin-left: auto;
  background-color: rgba(77, 209, 73, 0.425); /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición en el color de fondo */
}

button:hover {
  background-color: rgba(60, 172, 144, 0.706); /* Cambia el color de fondo en hover */
}
