<img id="Fondo"  src="assets/Insecticidas/Fondo.jpg" alt="Fondo2">
<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de Frutas</title>
  <style>

  </style>
</head>
<body>

  <!-- Encabezado -->
  <header>
    <h1>Store <img id="tienda" src="assets/Store.png" alt="">
          </h1>

  </header>

  <!-- Contenido principal -->
  <section>
    <!-- Verdura 1 -->
    <div class="fruta">
      <img id="ImgF" src="assets/Insecticidas/Bangot.jpg" alt="Bangot">
      <h2>Bangot</h2>
      <p>Precio: $1.50 </p>
      <button>Agregar </button>
    </div>

    <!-- Verdura 2 -->
    <!-- <div class="fruta">
      <img id="ImgF" src="assets/Insecticidas/Citron.jpg" alt="Citron">
      <h2>Citron</h2>
      <p>Precio: $1.20</p>
      <br>
      <button>Añadir</button>
    </div> -->
    <!-- Verdura 3 -->
    <div class="fruta">
      <img id="ImgF" src="assets/Insecticidas/Courage.jpg" alt="Courage">
      <h2>Courage</h2>
      <p>Precio: $2.30</p>
      <button>Añadir</button>
    </div>
    <!-- Verdura 4 -->
    <div class="fruta">
      <img id="ImgF" src="assets/Insecticidas/Dragnet.jpg" alt="Dragnet">
      <h2>Dragnet</h2>
      <p>Precio: $1.34</p>
      <br>
      <button>Añadir</button>
    </div>
     <!-- Verdura 5 -->
     <div class="fruta">
      <img id="ImgF" src="assets/Insecticidas/Kunfu.jpg" alt="Kunfu">
      <h2>Kunfu</h2>
      <p>Precio: $4.34</p>
      <br>
      <button>Añadir</button>
    </div>

     <!-- Verdura 6 -->
     <div class="fruta">
      <img id="ImgF" src="assets/Insecticidas/Spider.jpg" alt="Spider">
      <h2>Spider</h2>
      <p>Precio: $1.34</p>
      <br>
      <button>Añadir</button>
    </div>



  </section>

</body>
</html>
